body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(42, 42, 207);
}

.circle-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.circle-container::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid white;
  border-top: 10px solid red;
  animation: none;
  transition: transform 0.5s linear;
}

.circle-container:hover::before {
  animation: rotate 1s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
